.btn {
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}

.text-input {
    border: 1px solid black;
    padding: 15px;
    flex-grow: 1;
    border-radius: 10px;
}

.upper {
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
}