.main {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  height: 100vh;
}

.btn-input {
  width: 150px;
  margin: 10px auto 10px auto;
  padding: 10px;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}